@import './base.css';

/**<weight>: Use a value from 200 to 800
   <uniquifier>: Use a unique and descriptive class name**/

.sono-main {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

body {
  background-color: white;
  font-family: "Sono", monospace;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

#portfolio-navbar{
  background-color: var(--palette-4);
}

#portfolio-navbar .container-fluid .navbar-brand{
  color: white;
}

.navbar-nav a{
  color: white;
  font-weight: bold;
}

.profile-landing {
  margin-top: 1rem;
  width: 200px;
  height: auto;
  border-radius: 50%;
  border-style: solid;
}

.presenting {
  text-align: center;
  font-weight: 420;
  /*text-shadow: 1px 6px 6px rgb(59, 30, 35);*/
}

.brief-presentation {
  text-align: center;
  text-justify: auto;
  font-weight: bold;
}

.jumbotron-content {
  padding-top: 2%;
}

.experience-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-section {
  padding-top: 14px;
  padding-bottom: 40px;
  background-color: var(--palette-2);
  color: white;
}

.jumbotron {
  height: 100vh;
}

.project-title {
  text-align: center;
}

.project-link {
  color: white;
  text-decoration: none;
}

.project-item :hover {
  text-decoration: underline;
}

.project-item {
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  margin: auto;
  width: 350px;
}

.experience-title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.exp-title {
  font-weight: bold;
  font-size: 25px;
}

.exp-desc {
  margin-top: 1rem;
  font-weight: 10rem;
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  .contact-list {
    display: flex;
    justify-content: center;
    gap: 40px;
  };
}

.contact-item a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.contact-item :hover {
  text-decoration: underline;
}

.copyright-footer {
  padding: 10px;
  text-align: center;
  color: white;
  background-color: var(--palette-3);
}

.copyright-footer div a {
  text-decoration: none;
  color: white;
}

.copyright-footer div :hover {
  text-decoration: underline;
}